body {
    margin: 0;
    font-family: sans-serif;
    background-color: #000;
    color: #fff;
    overflow: hidden; /* Ẩn thanh cuộn */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container {
    z-index: 10;
    position: relative;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

.year-text {
    font-family: 'Dancing Script', cursive;
    font-size: 4rem;
    color: #f0f0f0;
    margin: 0;
    text-shadow: 0 0 5px #f0f0f0;
}

.new-year-text {
    font-family: 'Dancing Script', cursive;
    font-size: 6rem;
    color: #ffd700;
    margin: 0;
    text-shadow: 0 0 10px #ffd700, 0 0 20px #ffc400;
}

.greeting {
    font-size: 1.5rem;
    color: #f0f0f0;
    margin-top: 10px;
}

#fireworks {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#bg-container {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 20;
}

#change-bg-btn {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#game-canvas {
    display: none;
    background-color: #000;
}